.buttons {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1vw;
    position: absolute;
    position: fixed;
    right: 3vw;
    bottom: 2vw;
    .btn {
        width: 5vw;
        height: 5vw;
        border-radius: 50%;
        cursor: pointer;
        @media screen and (max-width: 750px) {
            width: 12vw;
            height: 12vw;
        }
        @media screen and (max-width: 1100px) {
            width: 10vw;
            height: 10vw;
        }
    }
}