#contact {
    width: 100%;
    padding: 5vw;
    background: linear-gradient(45deg, yellow, black);
    #form {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        padding: 2vw;
        background-color: white;
        @media screen and (max-width: 750px) {
            width: 80%;
        }
        button {
            background: linear-gradient(45deg, yellow, black);
            border: 0;
            border-radius: 2px;
            padding: 1vw;
            width: 100%;
        }
        input, select, textarea {
            width: 100%;
            padding: 1vw;
            border: 0;
            background-color: rgb(221, 221, 221);
            border-radius: 2px;
        }
        .success {
            text-align: center;
            color: green;
        }
        .failure {
            text-align: center;
            color: red;
        }
    }
}