#corporation_intro {
    width: 100%;
    padding: 5vw;
    background-color: white;
    .corp_cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vw;
        @media screen and (max-width: 500px) {
            grid-template-columns: 1fr;
        }
        .corp_card {
            display: grid;
            grid-template-rows: auto auto;
            grid-gap: 0;
            text-align: center;
            background-color: rgb(26, 26, 26);
            color: white;
            border: 1px solid rgb(26, 26, 26);
            .offer {
                padding: 0.5vw;
            }
            img {
                width: 40%;
                display: block;
                margin-left: auto;
                margin-right: auto;
                @media screen and (max-width: 750px) {
                    width: 100%;
                }
            }
        }
    }
}