#info {
    width: 100%;
    padding: 2vw;
    background-color: rgb(26, 26, 26);
    color: white;
    p {
        text-align: center;
        font-size: larger;
    }
    .social-media {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1vw;
        justify-content: center;
        img {
            width: 8vw;
            border-radius: 4vw;
            @media screen and (max-width: 750px) {
                width: 14vw;
                border-radius: 7vw;
            }
        }
    }
    .informations {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vw;
        @media screen and (max-width: 950px) {
            grid-template-columns: 1fr;
        }
        .about {
            pre {
                font-size: large;
                font-family: calibri;
            }
        }
        .links {
            pre {
                font-size: large;
                font-family: calibri;
                a {
                    text-decoration: none;
                    color: white;
                    padding: 2px;
                    margin-left: 2px;
                    &:hover {
                        background-color: rgba(255, 255, 0, 0.4);
                        border-left: 2px solid yellow;
                        margin-left: 0;
                    }
                }
            }
        }
    }
}